<div class="container">
  <div class="header">
    <h1>Macro Tracker</h1>
    <h2>Track Everything</h2>
  </div>
  {{#if message}}
    <div class="message-container">
      {{message}}
    </div>
  {{/if}}
  <form method="post" name="loginForm" action="/auth/login">
    <div class="text-area">
      <label>Username</label>
      <input type="text" 
      {{!-- pattern="^[A-Za-z0-9_]{5,20}$" required --}}
      name="username"
        title="Alphanumeric characters and underscores up to 20 characters in length." style="color:white">
    </div>
    <div class="text-area">
      <label>Password</label>
      <input type="password"
      {{!-- pattern="^.{5,20}$" required --}}
      name="password" title="Must be between 5 and 20 characters in length." style="color:white">
    </div>
    <div class="form-footer">
      <input type="submit" value="Log In">
      <div class="signup-link">
        Don't have an account? <a href="/auth/new_user">Create One</a>
      </div>
    </div>
  </form>
</div>