<div class="container">
  <div class="header">
    <h1>Macro Tracker</h1>
    <h2>Track Everything</h2>
  </div>
  {{#if message}}
    <div class="message-container">
      {{message}}
    </div>
  {{/if}}
  <form method="post" name="newUserForm" action="/auth/new_user">
    <div class="text-area">
      <label>Email Address</label>
      <input type="email" placeholder="" name="email_address"
        title="Please enter a valid email address."  style="color:white" required>
    </div>
    <div class="text-area">
      <label>New Username</label>
      <input type="text" pattern="^[A-Za-z0-9_]{5,20}$" name="newusername"
        title="Alphanumeric characters and underscores up to 20 characters in length." style="color:white" required>
    </div>
    <div class="text-area">
      <label>New Password</label>
      <input type="password" pattern="^.{5,20}$" name="newpassword" title="Must be between 5 and 20 characters in length." style="color:white" required>
    </div>
    <div class="text-area">
      <label>Confirm Password</label>
      <input type="password" pattern="^.{5,20}$" name="p_confirm" title="Must be between 5 and 20 characters in length." style="color:white" required>
    </div>
    <div class="form-footer">
      <input type="submit" value="Create Account">
      <div class="signup-link">
        Already Have an Account? <a href="/">Go Back</a>
      </div>
    </div>
  </form>
</div>