<form method="post" name="loginForm" action="/api/users/login">
  <div>
    <label>Username</label>
    <input
      type="text" 
      pattern="^[A-Za-z0-9_]{5,20}$"
      name="username"
      title="Alphanumeric characters and underscores up to 20 characters in length."
      required
      autofocus>
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      pattern="^.{5,20}$"
      name="password"
      title="Must be between 5 and 20 characters in length."
      required>
    </div>
  <input type="submit" value="Log In">
</form>