<nav>
  <ul>
    <li class="nav-content">{{user.username}}</li>
    <li class="nav-link"><a href='/api/users/logout'>Logout</a></li>
  </ul>
</nav>
<div class='content'>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis autem laudantium itaque neque veritatis perspiciatis nihil ratione reiciendis, earum quae maxime labore minus aspernatur ullam sint magni non ex ipsum.
Cum odio perspiciatis fugiat laudantium officia quisquam, consequuntur animi aspernatur libero. Dolore sapiente, ea voluptate explicabo eveniet est officia nostrum unde atque dolorum quaerat tempore! Fuga necessitatibus deleniti natus numquam.
Illum vel distinctio excepturi cum voluptas qui eligendi laboriosam aliquid eos! Earum quia sed ratione voluptatibus, impedit enim saepe aliquam neque quo voluptate nemo tenetur veritatis totam aspernatur sit fuga.
Corrupti dignissimos soluta unde temporibus optio neque, architecto enim veniam quis necessitatibus atque illum laboriosam reiciendis, eos quo iusto nam quidem? Optio earum voluptatibus quasi hic praesentium totam amet repudiandae.
Dolore perspiciatis iste dicta beatae iure, neque aut fuga, excepturi perferendis ipsa porro ducimus accusamus! Porro, culpa inventore. Nam sit eius ipsam tenetur odit velit doloribus dignissimos non sapiente et.
</div>