body {
  background-color: var(--bg-third);
  color: var(--text-primary);
  padding: 3em;
}

.container {
  margin: 0px auto;
  max-width: 600px;
  border-radius: 1em;
  overflow-x: hidden;
  background-color: var(--bg-primary);
  padding-bottom: 50px;
}

.message-container {
  background-color: var(--error-color);
  color: white;
  text-align: center;
  padding: 2px;
}

.header {
  text-align: center;
  background-color: var(--bg-secondary);
  padding: 2em;
}

.form-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-item {
  color: var(--text-primary);
  font-size: 1.25em;
}

.form-item label {
  display: block;
}

.form-item input {
  display: block;
  width: 100%;
  height: 2em;
  background-color: var(--bg-primary);
  border: none;
  border-bottom: 3px solid #818181;
  font-size: inherit;
  color: inherit;
}

.form-item input:focus {
  outline: none;
  border-bottom: 3px solid var(--cta-one);
}

.form-item textarea {
  width: 100%;
  padding: 3px;
  border-radius: 2px;
  font-size: inherit;
  border: 1px solid var(--text-primary);
  color: inherit;
  background-color: var(--bg-secondary);
}

.form-item textarea:focus {
  outline: none;
  border-color: var(--cta-one);
}

input[type='submit'] {
  display: block;
  margin: 0 auto;
  width: 10em;
  background-color: var(--cta-one);
  font-size: 1.25em;
  border: none;
  border-radius: .25em;
  padding: .25em;
}

input[type='submit']:hover {
  background-color: var(--cta-two);
}

input[type='submit']:active {
  background-color: var(--cta-two);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .container {
    border-radius: 0;
    height: 100vh;
  }
}