*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

:root {
  font-size: 18px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #cecece;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-third: #3f3f41;
  --cta-one: #33A7D6;
  --cta-two: #0f4053;
  --error-color: #d63355;
  --error-accent-color: #ab2341;
  --ternary-action: #a7d633;
}

@media only screen and (max-width: 600px) {

}