form {
  margin-top: 8vh;
}

label {
  display: block;
  padding-left: 2em;
}

.signup-link {
  text-align: left;
  margin: .75em;
}

.text-area {
  margin: 1em;
}

.text-area input {
  font-size: 1.25em;
  width: calc(100% - 4em);
  margin: 1em 2em;
  height: 2em;
  background-color: var(--bg-primary);
  border: none;
  border-bottom: 3px solid #818181;
}

.text-area input:focus {
  outline: none;
  border-bottom: 3px solid var(--cta-one);
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}