form > div > label {
  display: inline-block;
  min-width: 100px;
  background-color: #ccc;
}

form > input[type=submit] {
  width: 10%;
  min-width: 100px;
}

form {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

:root {
  font-size: 18px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #cecece;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --error-color: #d63355;
  --error-accent-color: #ab2341;
}