:root {
  /* Dominant */
  --bg-primary: #575757;
  --bg-header: #1c1c1c;
  --bg-body: #404040;
  --bg-error: #e41b5e;
  --font-color: #dcdbd5;
  --font-color-dark: #272620;
  /* Complement */
  --complement: #ef9b08;
  --complement-light: #faca75;
  /* Accent */
  --call-to-action: #08cfef;
  --call-to-action-highlight: #89ebfb;
  /* Analogous */
  --analogous-one: #cfef08;
  --analogous-two: #5cef08;
  --analogous-three: #08ef9b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
}

/* Dialogs */
/* These also use the .container-item class */
dialog {
  margin: auto;
  width: 450px;
  border: 1px solid var(--complement);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 50%);
}

/* Banner */
.header-banner {
  background-color: var(--bg-header);
  padding: 50px;
  color: var(--font-color);
  font-size: 1.3em;
  text-align: center;
}

/* Navigation */
nav {
  background: linear-gradient(var(--bg-body) 70%, var(--bg-header));
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav * {
  padding: 10px 10px;
  display: inline-block;
  color: var(--font-color);
}

nav *:hover {
  background: linear-gradient(var(--call-to-action) 70%, var(--bg-header));
  color: var(--font-color-dark);
}

/* Error Messages */
.error-container {
  position: absolute;
  top: 10px;
  left: 70%;
  right: 0px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: var(--bg-error);
  color: var(--font-color-dark);
  transition: 0.5s;
}
.error-container-slide {
  translate: 100%;
}

/* Footer */
.footer-banner {
  background-color: var(--bg-header);
  padding: 50px;
  color: var(--font-color);
  text-align: center;
}

/* Container */
.container {
  display: grid;
  padding: 5px;
  gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(min-content, 275px));
  grid-template-areas:
    ". loginForm loginForm ."
    "userInfo userInfo dailyMacros dailyMacros"
    ". . macroHistory macroHistory";
}

.container-item {
  background-color: var(--bg-body);
  border-radius: 5px;
  color: var(--font-color);
}

.container-item-body {
  padding: 5px;
}

.container-item-header {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  background-color: var(--bg-header);
  font-size: 1.4em;
}

.macro-history {
  grid-area: macroHistory;
}
.user-info {
  grid-area: userInfo;
}
.daily-macros {
  grid-area: dailyMacros;
}
.login-form-container {
  grid-area: loginForm;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 30px;
  margin: 5px auto;
  border-radius: 10px;
  font-size: 1.2em;
  color: var(--font-color-dark);
  background-color: var(--call-to-action);
  border: 2px solid var(--call-to-action-highlight);
  cursor: pointer;
  transition-duration: 0.2s;
  width: 100%;
}

.button:hover {
  /* todo */
}

.button:active {
  background-color: var(--call-to-action-highlight);
  transition: none;
}

.modal-button-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  justify-content: space-around;
}

/* Forms */
form label {
  display: block;
  width: 90%;
  margin: 2px auto;
}
.input {
  display: block;
  background-color: var(--bg-body);
  color: var(--font-color);
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 5px;
}
.input:focus,
.textarea:focus {
  outline: 2px solid var(--complement);
}
.submit {
  display: block;
  margin: 10px auto;
  width: 60%;
}
.textarea {
  display: block;
  width: 90%;
  height: 5em;
  margin: 0 auto;
  padding: 3px;
  resize: none;
  font-size: 1.2em;
  background-color: var(--bg-body);
  border-radius: 5px;
  color: var(--font-color);
  /* style scroll for this eventually */
}

.link {
  color: var(--complement-light);
  text-decoration: underline;
  cursor: pointer;
}

/* Loader */
.loader {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 10px solid var(--bg-primary);
  border-bottom: 5px solid var(--call-to-action);
  border-radius: 50%;
  animation: loader 1.5s linear 0s infinite forwards;
}

@keyframes loader {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/* Accordion */
.accordion-header {
  display: block;
  width: 100%;
  padding: 4px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 1.2em;
  color: var(--font-color);
  background-color: var(--bg-primary);
  border: none;
  border-radius: 5px;
}
.accordion-header-selected {
  border-radius: 5px 5px 0 0;
  background-color: hsl(from var(--bg-primary) h s calc(l + 5));
}
.accordion-header:hover {
  background-color: hsl(from var(--bg-primary) h s calc(l + 5));
}

.accordion-icon {
  display: inline-block;
  margin: 0 5px;
  font-weight: bolder;
  transition: 0.3s;
}

.rotate90 {
  rotate: 90deg;
}

.accordion-body {
  display: block;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-in-out;
  transform: translateY(-3px);
}

.accordion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--font-color);
}
.accordion-item:last-child {
  border-radius: 0 0 5px 5px;
  border: none;
}
.accordion-item:hover {
  background-color: hsl(from var(--bg-primary) h s calc(l + 5));
}
.accordion-item-title {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.accordion-item-macro-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 2px;
  grid-template-columns: repeat(2, minmax(min-content, 20px));
  grid-template-areas:
    "calories protein"
    "carbohydrates fats";
}
.calories {
  grid-area: calories;
  color: var(--complement);
}
.protein {
  grid-area: protein;
  color: var(--analogous-one);
}
.carbohydrates {
  grid-area: carbohydrates;
  color: var(--analogous-two);
}
.fats {
  grid-area: fats;
  color: var(--analogous-three);
}

.daily-macros-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 100px));
  justify-content: center;
  gap: 5px;
}
.daily-macro-container {
  padding: 0;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  width: 110px;
  justify-content: center;
  border-radius: 10px;
}
.daily-macro-count {
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
}
.daily-macro-progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--bg-body);
  border-radius: 0 0 5px 5px;
}
.daily-macro-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 0 3px;
}
.daily-macro-label {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  color: var(--font-color);
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "loginForm"
      "userInfo"
      "dailyMacros"
      "macroHistory";
  }
  .error-container {
    left: 10px;
  }
  dialog {
    width: 90vw;
    height: 90vh;
  }
}
